
        <div class="container">

            <div class="headings-container">
                <h1>Movie Info</h1>
                <form action="/" method="get">

                    <input name="movie" type="text" placeholder="Type Movie"/>
                    <button>Get Movie Info</button>
                </form>
            </div>

            <div class="movie-container">

            <% if @movie and @movie_raw["Response"] == "True"  %>


                <div class="movie-info">

                    <p>
                        <%= @title %>
                    </p>

                    <p>
                        Year =
                        <%= @year %>
                    </p>

                    <p>
                        Director =
                        <%= @director %>
                    </p>

                    <p>
                        Runtime =
                        <%= @runtime %>
                    </p>

                </div>

                <div class="poster">
                    <img src=<%= (@poster)%>/>
                </div>

                <% elsif @movie and @movie_raw["Response"] == "False" %>

                <p>
                    Please check your input and try again
                </p>

            </div>

            <% end %>

        </div>
