<div class="container">

    <div class="headings-container">
        <h1>Movie Info</h1>
        <form action="/" method="get">

            <input name="search" type="text" placeholder="Type Movie"/>
            <button>Get Movie Info</button>
        </form>
    </div>

    <div class="movie-container">

        <% if @search_results  %>

        <div class="movie-list">

            <% @title_array.each do |i| %>
            <li>
                <a href='/movie/<%= "#{i}" %>'><%= "#{i}" %>
                </li>
                <% end %>

            </div>
        <% end %>

        <% if @movie and @movie_raw["Response"] == "True"  %>


                <div class="movie-info">

                    <p>
                        <%= @title %>
                    </p>

                    <p>
                        Year =
                        <%= @year %>
                    </p>

                    <p>
                        Director =
                        <%= @director %>
                    </p>

                    <p>
                        Runtime =
                        <%= @runtime %>
                    </p>

                </div>

                <div class="poster">
                    <img src=<%= (@poster)%>/>
                </div>

            </div>

        <% end %>

        </div>
